#hover_effect {
  background: var(--p-color-bg-surface);
}
#hover_effect:hover {
  background: var(--p-color-bg-surface-hover);
}
#margin_auto {
  margin: auto;
}
#center_item {
  margin: 0;
  position: absolute;
  top: 20rem;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
